.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Lexend', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Lexend', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #8a9a5b !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #ff9966 !important;
}
.bg-danger {
  background-color: #e6c63b !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #8a9a5b !important;
  border-color: #8a9a5b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #59643b !important;
  border-color: #59643b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #59643b !important;
  border-color: #59643b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #8a9a5b !important;
  border-color: #8a9a5b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #59643b !important;
  border-color: #59643b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #59643b !important;
  border-color: #59643b !important;
}
.btn-info,
.btn-info:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #8a9a5b;
  color: #8a9a5b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #59643b !important;
  background-color: transparent!important;
  border-color: #59643b !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #8a9a5b !important;
  border-color: #8a9a5b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #8a9a5b;
  color: #8a9a5b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #59643b !important;
  background-color: transparent!important;
  border-color: #59643b !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #8a9a5b !important;
  border-color: #8a9a5b !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: #d4d4d4 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #e6c63b;
  color: #e6c63b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: #b39617 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #8a9a5b !important;
}
.text-secondary {
  color: #8a9a5b !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #ff9966 !important;
}
.text-danger {
  color: #e6c63b !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #515a35 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #515a35 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ff5500 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #a68b15 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #8a9a5b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #ff9966;
}
.alert-danger {
  background-color: #e6c63b;
}
.mbr-gallery-filter li.active .btn {
  background-color: #8a9a5b;
  border-color: #8a9a5b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #8a9a5b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c3cca9;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdfbf0;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #8a9a5b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #8a9a5b;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #8a9a5b;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #8a9a5b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #8a9a5b;
  border-bottom-color: #8a9a5b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #8a9a5b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #8a9a5b !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%238a9a5b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sFF0ciwnEL {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sFF0ciwnEL nav.navbar {
  position: fixed;
}
.cid-sFF0ciwnEL .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFF0ciwnEL .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sFF0ciwnEL .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sFF0ciwnEL .dropdown-item:hover,
.cid-sFF0ciwnEL .dropdown-item:focus {
  background: #8a9a5b !important;
  color: white !important;
}
.cid-sFF0ciwnEL .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sFF0ciwnEL .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sFF0ciwnEL .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sFF0ciwnEL .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sFF0ciwnEL .nav-link {
  position: relative;
}
.cid-sFF0ciwnEL .container {
  display: flex;
  margin: auto;
}
.cid-sFF0ciwnEL .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sFF0ciwnEL .dropdown-menu,
.cid-sFF0ciwnEL .navbar.opened {
  background: #ffffff !important;
}
.cid-sFF0ciwnEL .nav-item:focus,
.cid-sFF0ciwnEL .nav-link:focus {
  outline: none;
}
.cid-sFF0ciwnEL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sFF0ciwnEL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sFF0ciwnEL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sFF0ciwnEL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFF0ciwnEL .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sFF0ciwnEL .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sFF0ciwnEL .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sFF0ciwnEL .navbar.opened {
  transition: all 0.3s;
}
.cid-sFF0ciwnEL .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sFF0ciwnEL .navbar .navbar-logo img {
  width: auto;
}
.cid-sFF0ciwnEL .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sFF0ciwnEL .navbar.collapsed {
  justify-content: center;
}
.cid-sFF0ciwnEL .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sFF0ciwnEL .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sFF0ciwnEL .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 6.6rem);
  }
}
.cid-sFF0ciwnEL .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sFF0ciwnEL .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sFF0ciwnEL .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sFF0ciwnEL .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sFF0ciwnEL .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sFF0ciwnEL .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sFF0ciwnEL .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sFF0ciwnEL .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sFF0ciwnEL .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sFF0ciwnEL .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sFF0ciwnEL .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sFF0ciwnEL .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sFF0ciwnEL .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sFF0ciwnEL .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sFF0ciwnEL .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sFF0ciwnEL .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sFF0ciwnEL .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sFF0ciwnEL .navbar.navbar-short {
  min-height: 60px;
}
.cid-sFF0ciwnEL .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sFF0ciwnEL .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sFF0ciwnEL .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sFF0ciwnEL .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sFF0ciwnEL .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sFF0ciwnEL .dropdown-item.active,
.cid-sFF0ciwnEL .dropdown-item:active {
  background-color: transparent;
}
.cid-sFF0ciwnEL .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sFF0ciwnEL .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sFF0ciwnEL .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sFF0ciwnEL .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sFF0ciwnEL .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sFF0ciwnEL .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sFF0ciwnEL ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sFF0ciwnEL .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sFF0ciwnEL button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sFF0ciwnEL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sFF0ciwnEL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sFF0ciwnEL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFF0ciwnEL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFF0ciwnEL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sFF0ciwnEL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFF0ciwnEL nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sFF0ciwnEL nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sFF0ciwnEL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFF0ciwnEL .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sFF0ciwnEL a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sFF0ciwnEL .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sFF0ciwnEL .navbar {
    height: 70px;
  }
  .cid-sFF0ciwnEL .navbar.opened {
    height: auto;
  }
  .cid-sFF0ciwnEL .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sFF3eJNZDT {
  padding-top: 9rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sFF3eJNZDT .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-sFF3eJNZDT .icon-box {
  background: #e85a4f;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sFF3eJNZDT .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sFF3eJNZDT .card {
    margin-bottom: 2rem;
  }
  .cid-sFF3eJNZDT .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sFF3eJNZDT .card-title,
.cid-sFF3eJNZDT .card-box {
  color: #000000;
}
.cid-sFF3eJNZDT .icon-text {
  color: #8e8d8a;
}
.cid-sFF3eJNZDT .mbr-text,
.cid-sFF3eJNZDT .mbr-section-btn {
  color: #88a06d;
}
.cid-uMyKl4YeRq {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uMyKOpAckA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uMyOPj4gMG {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uMyIF6ZkSp {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uMyIF6ZkSp .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMyIF6ZkSp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uMyIF6ZkSp .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-uMyIF6ZkSp .card {
    margin-bottom: 2rem!important;
  }
  .cid-uMyIF6ZkSp .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uMyIF6ZkSp .link-wrap {
    align-items: center;
  }
}
.cid-uMyIF6ZkSp .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-uMzOi5pvPB {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uMzOi5pvPB .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMzOi5pvPB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uMzOi5pvPB .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-uMzOi5pvPB .card {
    margin-bottom: 2rem!important;
  }
  .cid-uMzOi5pvPB .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uMzOi5pvPB .link-wrap {
    align-items: center;
  }
}
.cid-uMzOi5pvPB .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-uMzm66XuF0 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #fafafa;
}
.cid-uMzm66XuF0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMzm66XuF0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uMzm66XuF0 .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-uMzm66XuF0 .plan-body {
  padding-bottom: 2rem;
}
.cid-uMzm66XuF0 .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-uMzm66XuF0 .price {
  color: #8a9a5b;
}
.cid-uMzm66XuF0 .plan {
  word-break: break-word;
  background-color: #ffffff;
}
.cid-uMzm66XuF0 .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-uMzm66XuF0 .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-uMzm66XuF0 .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-uMzm66XuF0 .plan {
    margin-bottom: 2rem;
  }
}
.cid-uMzPu53vs8.popup-builder {
  background-color: #ffffff;
}
.cid-uMzPu53vs8.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-uMzPu53vs8.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-uMzPu53vs8 .modal-content,
.cid-uMzPu53vs8 .modal-dialog {
  height: auto;
}
.cid-uMzPu53vs8 .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-uMzPu53vs8 .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-uMzPu53vs8 .form-wrapper .mbr-form .form-group,
  .cid-uMzPu53vs8 .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-uMzPu53vs8 .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-uMzPu53vs8 .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-uMzPu53vs8 .mbr-text {
  text-align: center;
}
.cid-uMzPu53vs8 .pt-0 {
  padding-top: 0 !important;
}
.cid-uMzPu53vs8 .pb-0 {
  padding-bottom: 0 !important;
}
.cid-uMzPu53vs8 .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-uMzPu53vs8 .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-uMzPu53vs8 .modal-open {
  overflow: hidden;
}
.cid-uMzPu53vs8 .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-uMzPu53vs8 .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-uMzPu53vs8 .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-uMzPu53vs8 .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-uMzPu53vs8 .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-uMzPu53vs8 .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-uMzPu53vs8 .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-uMzPu53vs8 .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-uMzPu53vs8 .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-uMzPu53vs8 .modal-backdrop.fade {
  opacity: 0;
}
.cid-uMzPu53vs8 .modal-backdrop.show {
  opacity: .5;
}
.cid-uMzPu53vs8 .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-uMzPu53vs8 .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-uMzPu53vs8 .modal-header .close:hover {
  opacity: 1;
}
.cid-uMzPu53vs8 .modal-header .close:focus {
  outline: none;
}
.cid-uMzPu53vs8 .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #88a06d;
}
.cid-uMzPu53vs8 .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-uMzPu53vs8 .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-uMzPu53vs8 .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-uMzPu53vs8 .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-uMzPu53vs8 .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-uMzPu53vs8 .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-uMzPu53vs8 .modal-sm {
    max-width: 300px;
  }
  .cid-uMzPu53vs8 .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-uMzPu53vs8 .modal-lg,
  .cid-uMzPu53vs8 .modal-xl {
    max-width: 800px;
  }
  .cid-uMzPu53vs8 .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-uMzPu53vs8 .modal-xl {
    max-width: 1140px;
  }
  .cid-uMzPu53vs8 .container {
    max-width: 1140px;
  }
}
.cid-uMzPu53vs8 .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-uMzPu53vs8 .container {
    max-width: 720px;
  }
}
.cid-uMzPu53vs8 .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-uMzPu53vs8 .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-uMzPu53vs8 .form-group {
  margin-bottom: 1rem;
}
.cid-uMzPu53vs8 .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-uMzPu53vs8 .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-uMzPu53vs8 .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-uMzT2vX8db.popup-builder {
  background-color: #ffffff;
}
.cid-uMzT2vX8db.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-uMzT2vX8db.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-uMzT2vX8db .modal-content,
.cid-uMzT2vX8db .modal-dialog {
  height: auto;
}
.cid-uMzT2vX8db .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-uMzT2vX8db .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-uMzT2vX8db .form-wrapper .mbr-form .form-group,
  .cid-uMzT2vX8db .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-uMzT2vX8db .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-uMzT2vX8db .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-uMzT2vX8db .mbr-text {
  text-align: center;
}
.cid-uMzT2vX8db .pt-0 {
  padding-top: 0 !important;
}
.cid-uMzT2vX8db .pb-0 {
  padding-bottom: 0 !important;
}
.cid-uMzT2vX8db .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-uMzT2vX8db .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-uMzT2vX8db .modal-open {
  overflow: hidden;
}
.cid-uMzT2vX8db .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-uMzT2vX8db .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-uMzT2vX8db .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-uMzT2vX8db .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-uMzT2vX8db .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-uMzT2vX8db .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-uMzT2vX8db .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-uMzT2vX8db .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-uMzT2vX8db .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-uMzT2vX8db .modal-backdrop.fade {
  opacity: 0;
}
.cid-uMzT2vX8db .modal-backdrop.show {
  opacity: .5;
}
.cid-uMzT2vX8db .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-uMzT2vX8db .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-uMzT2vX8db .modal-header .close:hover {
  opacity: 1;
}
.cid-uMzT2vX8db .modal-header .close:focus {
  outline: none;
}
.cid-uMzT2vX8db .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #88a06d;
}
.cid-uMzT2vX8db .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-uMzT2vX8db .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-uMzT2vX8db .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-uMzT2vX8db .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-uMzT2vX8db .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-uMzT2vX8db .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-uMzT2vX8db .modal-sm {
    max-width: 300px;
  }
  .cid-uMzT2vX8db .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-uMzT2vX8db .modal-lg,
  .cid-uMzT2vX8db .modal-xl {
    max-width: 800px;
  }
  .cid-uMzT2vX8db .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-uMzT2vX8db .modal-xl {
    max-width: 1140px;
  }
  .cid-uMzT2vX8db .container {
    max-width: 1140px;
  }
}
.cid-uMzT2vX8db .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-uMzT2vX8db .container {
    max-width: 720px;
  }
}
.cid-uMzT2vX8db .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-uMzT2vX8db .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-uMzT2vX8db .form-group {
  margin-bottom: 1rem;
}
.cid-uMzT2vX8db .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-uMzT2vX8db .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-uMzT2vX8db .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-uMzV3UBVDG {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-uMzV3UBVDG .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMzV3UBVDG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uMzV3UBVDG .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-uMzV3UBVDG .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uMzV3UBVDG .row {
    text-align: center;
  }
  .cid-uMzV3UBVDG .social-row {
    justify-content: center;
  }
}
.cid-uMzV3UBVDG .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-uMzV3UBVDG .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-uMzV3UBVDG .list {
    margin-bottom: 0rem;
  }
}
.cid-uMzV3UBVDG .mbr-text {
  color: #bbbbbb;
}
.cid-uMzV3UBVDG .mbr-iconfont {
  color: black;
}
.cid-uMzV3UBVDG .mbr-section-subtitle {
  color: #8a9a5b;
}
.cid-uMDrj7SeEm.popup-builder {
  background-color: #ffffff;
}
.cid-uMDrj7SeEm.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-uMDrj7SeEm.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-uMDrj7SeEm .modal-content,
.cid-uMDrj7SeEm .modal-dialog {
  height: auto;
}
.cid-uMDrj7SeEm .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-uMDrj7SeEm .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-uMDrj7SeEm .form-wrapper .mbr-form .form-group,
  .cid-uMDrj7SeEm .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-uMDrj7SeEm .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-uMDrj7SeEm .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-uMDrj7SeEm .mbr-text {
  text-align: center;
}
.cid-uMDrj7SeEm .pt-0 {
  padding-top: 0 !important;
}
.cid-uMDrj7SeEm .pb-0 {
  padding-bottom: 0 !important;
}
.cid-uMDrj7SeEm .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-uMDrj7SeEm .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-uMDrj7SeEm .modal-open {
  overflow: hidden;
}
.cid-uMDrj7SeEm .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-uMDrj7SeEm .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-uMDrj7SeEm .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-uMDrj7SeEm .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-uMDrj7SeEm .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-uMDrj7SeEm .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-uMDrj7SeEm .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-uMDrj7SeEm .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-uMDrj7SeEm .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-uMDrj7SeEm .modal-backdrop.fade {
  opacity: 0;
}
.cid-uMDrj7SeEm .modal-backdrop.show {
  opacity: .5;
}
.cid-uMDrj7SeEm .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-uMDrj7SeEm .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-uMDrj7SeEm .modal-header .close:hover {
  opacity: 1;
}
.cid-uMDrj7SeEm .modal-header .close:focus {
  outline: none;
}
.cid-uMDrj7SeEm .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #88a06d;
}
.cid-uMDrj7SeEm .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-uMDrj7SeEm .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-uMDrj7SeEm .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-uMDrj7SeEm .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-uMDrj7SeEm .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-uMDrj7SeEm .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-uMDrj7SeEm .modal-sm {
    max-width: 300px;
  }
  .cid-uMDrj7SeEm .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-uMDrj7SeEm .modal-lg,
  .cid-uMDrj7SeEm .modal-xl {
    max-width: 800px;
  }
  .cid-uMDrj7SeEm .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-uMDrj7SeEm .modal-xl {
    max-width: 1140px;
  }
  .cid-uMDrj7SeEm .container {
    max-width: 1140px;
  }
}
.cid-uMDrj7SeEm .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-uMDrj7SeEm .container {
    max-width: 720px;
  }
}
.cid-uMDrj7SeEm .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-uMDrj7SeEm .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-uMDrj7SeEm .form-group {
  margin-bottom: 1rem;
}
.cid-uMDrj7SeEm .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-uMDrj7SeEm .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-uMDrj7SeEm .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
